@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #2563eb;
  --primary-glow: #00f0ff;
  --secondary: #0a0a0a;
  --accent: #1e1e24;
  --text-dim: #888888;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-glow);
}

a {
  color: inherit;
  text-decoration: none;
}